* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pixels-per-chip: 50px;
  --z-index-connection: 2;
  --z-index-input: 3;
  --z-index-output: 3;
  --z-index-chip: 4;
  --z-index-lastclicked: 5;
}

.container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#sidebar {
  position: absolute;
  right: 0;
  height: 100%;
  width: 350px;
  border-left: 5px solid black;
  background-color: lightgray;
  padding: 10px;
  z-index: 1000;
  background-color: darkslategray;
}

.sidebar-element {
  cursor: pointer;
}

.processor-board {
  width: 100%;
  height: 100%;
  position: relative;

  --s: 25px; /* control the size of the grid */
  --n: 4; /* control the granularity */
  --t: 1px; /* the thickness */
  --g: 4px; /* the gap between dashes */

  --c: black 25%, #0000 0;
  background:
    conic-gradient(at var(--g) var(--t), var(--c))
      calc((var(--s) / var(--n) - var(--g) + var(--t)) / 2) 0 /
      calc(var(--s) / var(--n)) var(--s),
    conic-gradient(from 180deg at var(--t) var(--g), var(--c)) 0
      calc((var(--s) / var(--n) - var(--g) + var(--t)) / 2) / var(--s)
      calc(var(--s) / var(--n));
  background-color: forestgreen;
}

.chip-container {
  position: absolute;
}

.chip {
  width: var(--pixels-per-chip);
  height: var(--pixels-per-chip);
  border: 2px solid white;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--z-index-chip);
  position: relative;
}

.chip-outline {
  width: var(--pixels-per-chip);
  height: var(--pixels-per-chip);
  border: 2px solid yellow;
  position: absolute;
}

.chip-left-inputs {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  left: -5px;
}

.chip-bottom-inputs {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  top: 45px;
  left: 0px;
}

.chip-input {
  width: 7px;
  height: 7px;
  background-color: yellow;
  z-index: var(--z-index-input);
}

.chip-right-outputs {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 0;
  left: 47px;
}

.chip-output {
  width: 10px;
  height: 10px;
  background-color: yellowgreen;
  z-index: var(--z-index-output);
}

.chip-output:hover {
  width: 12px;
  background-color: gold;
}

.last-clicked-position {
  z-index: var(--z-index-lastclicked);
  width: var(--pixels-per-chip);
  height: var(--pixels-per-chip);
  position: absolute;
  transition:
    top ease-in 0.1s,
    left ease-in 0.1s;

  --s: 10px; /* size of the corners */
  border: 5px solid yellow;
  padding: 0px;
  background: transparent content-box;
  mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
      calc(100% - var(--s)) calc(100% - var(--s));
}

.chip-connection {
  background-color: blue;
  line-height: 1px;
  position: absolute;
  z-index: var(--z-index-connection);
}
