.sidebar-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 1px solid white;
  position: relative;

  #close-sidebar-button {
    background: transparent;
    padding: 0;
    width: 25px;
    height: 25px;
    font-family: monospace;
    position: absolute;
    right: 10px;
    border: none;
    outline: none;
  }
}
